:root {
  --h1-font-family: "Playfair Display", serif;
  --p-font-family: "Poppins", sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
}

p {
  font-family: var(--p-font-family);
  font-weight: medium;
}
