:root {
  --h1-font-family: "Playfair Display", serif;
  --p-font-family: "Poppins", sans-serif;
  --first-color: #0881a3;
  --second-color: #fde9df;
  --third-color: #fffdfb;
  --fourth-color: #ffd6a4;
}

header {
  background-color: var(--second-color);
  padding: 50px;
  text-align: center;
}

header h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
  font-size: 50px;
}

header h3 {
  font-family: var(--p-font-family);
  font-weight: 500;
  font-size: 30px;
}

header h2 {
  font-family: var(--p-font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.body {
  background-color: var(--third-color);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 35px;
  }
  header h3 {
    font-size: 25px;
  }
}
