:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --first-color: #0881a3;
  --second-color: #fde9df;
  --third-color: #fffdfb;
  --fourth-color: #ffd6a4;
}

header {
  background-color: var(--second-color);
  font-family: var(--default-font-family);
  padding: 50px;
  text-align: center;
}

header h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 50px;
}

header h3 {
  font-weight: 500;
  font-size: 30px;
}

header h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 10px;
}

.about {
  display: block;
  margin: 40px auto;
  background-color: var(--third-color);
}

.about-section {
  background-color: var(--second-color);
  padding: 50px;
  border-radius: 10px;
  line-height: 1.7;
}

.about img {
  max-width: 60%;
}

.body {
  background-color: var(--third-color);
  font-family: var(--default-font-family);
  max-width: 50%;
}

.btn-projects {
  background-color: var(--first-color);
  color: var(--third-color);
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 35px;
  }
  header h3 {
    font-size: 25px;
  }
  .go-home {
    display: none;
  }
  .body {
    max-width: 100%;
  }
  .project-images {
    display: none;
  }
  .about {
    margin: 0 auto;
  }
  .about-section {
    padding: 20px;
    padding-bottom: 40px;
  }
  .about img {
    margin-top: 30px;
  }
}
